<div class="fixed top-0 z-50 right-0 left-0 bg-[#81F38A] text-gray-800 ">
    <div class=" px-5 lg:px-20 h-16 flex items-center justify-between">

        <div class="flex items-center">
            <div class="mr-5">
                <img class="w-12 " src="https://th.bing.com/th/id/OIP.4uo56fsE9Rphu5cTWpaLNwAAAA?rs=1&pid=ImgDetMain"
                    alt="code with vk">
            </div>

            <div class="">
                <div class="flex space-x-4 items-center ">
                    <a routerLink="/" class="text-gray-800 font-semibold text-lg">Shop with VK</a>
                    <div>
                        <button class="open-button" (click)="openNavbarContent('men')" mat-button>Men</button>
                    </div>

                    <div>
                        <button class="open-button" (click)="openNavbarContent('women')" mat-button>Women</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex items-center">
            <button (click)="navigateTo('cart')" mat-icon-button>
                <mat-icon>shopping_cart</mat-icon>
            </button>
            <button *ngIf="false" mat-raised-button type="" color="">
                LOGIN
            </button>
            <div *ngIf="true" class="ml-3 flex items-center">
                <div class="flex items-center space-x-5">
                    <span class="font-bold text-lg">Vicky</span>
                    <button  mat-button [matMenuTriggerFor]="ProfileMenu">
                        <img class="h-10 w-10" src="https://pixy.org/src/31/315160.png" alt="">
                    </button>
                    <mat-menu #ProfileMenu="matMenu">
                        <button (click)="navigateTo('account/orders')" mat-menu-item>Orders</button>
                        <button mat-menu-item>Profile</button>
                        <button mat-menu-item>Logout</button>

                      </mat-menu>
                </div>

            </div>
        </div>

    </div>
    <div *ngIf="isNavbarContentOpen" class="modal-container">
        <app-nav-content [selectedSection]="currentSection"/>

    </div>
</div>
 